body {
	background: black;
	margin: 0 auto;
	padding: 0;
	width: 75vw;
	height: 90vh;
	color: white;
	text-align: center;
}

.board:nth-child(3n+2) {
	border-left: 3px solid white;
	border-right: 3px solid white;
}

.board:nth-child(n+4):nth-child(-n+6) {
		border-top: 3px solid white;
		border-bottom: 3px solid white;
}

div.board {
	font-size: 12vh;
	padding: 5vh;
}

button {
	font-size: 20px;
}