body {
    
}

h1 {
    font-size: 28px;
}

.game-board {
    width: 384px;
    margin: 0 auto;
}

.board-row {
    display: flex;
    height: 128px;
    width: 384px;
    font-size: 0px;
}

.board-square {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 128px;
    width: 128px;
    background: url('../images/panel_woodPaper.png');
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.player-image {
    width: 112px;
    height: 112px;

}