.h1 {
  text-align: center;
}

.board {
  display: flex;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

.row {
  display: block;
  height: 33%;
  margin: 0;
}

.square {
  display: inline-block;
  box-sizing: border-box;
  height: 100px;
  width: 90px;
  text-align: center;
  border: 1px solid black;
  margin: 0;
  font-size: 100px;
}
