/* Base Rules */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #5039E1;
    color: #F6F9FA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Layout rules */

.game_container {
    margin-top:5%;
    text-align: center;
}

/* Module Rules */

#game_board {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #F7C71B;
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: 30px auto 35px auto;
}

.game_row {
    display: flex;
    width: 100%;
    height: 33%;
}

.game_square {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F6F9FA ;
    margin: 3px;
    width: 33%;
    font-size: 90px;
    cursor: pointer;
}

.game_square:hover {
    background-color: #d8e5e9;
    box-shadow: 0 5px 6px -6px black;
    transition: background-color 0.3s ease-in-out;
}

.game_start_btn {
    text-decoration: none;
    border:none;
    border-radius: 0;
    padding:15px 25px;
    background-color: #9D56E9;
    color:#F6F9FA;
    transition: background 0.2s ease-in-out;
    box-shadow: 0 5px 6px -6px black;
    outline: none;
    cursor: pointer;
}

.game_start_btn:hover {
    box-shadow: 0 2px 2px -6px black;
    background-color: #9576C7;
    transition: all 0.4s ease 0s;
}


/* State rules */

.is_player_1 {
    color: #5071CE;
}

.is_player_2 {
    color: #b15eb1;
}

.is_clicked {
    background-color: #d8e5e9;
    box-shadow: 0 5px 6px -6px black;
}


