#board {
	background-color: lightgrey;
	padding: 30px;
	margin: 30px;
	width: 220px;
}

.game-row {

	width: 230px;
	vertical-align: center;
}

.game-square {
	background-color: pink;
	width: 50px;
	height: 50px;
	margin: 3px;
	padding: 5px;
	border: 3px grey solid;
	display: inline-block;
	/*text-align: center;*/
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	font-size: 30px;
}