*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}
h1 {
    font-size: 5rem;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    justify-content: center;
    margin: 0 auto;
    height: 90vh;
    width: 1000px;
    padding: 40px 0;
}
.disappear {
    display: none;
}


.button,
.button2 {
    display: flex;
    justify-content: center;
}
.start {
    font-size: 3rem;
    width: 300px;
    margin-top: 50px;
}
.reset {
    font-size: 3rem;
    width: 300px;
    margin-top: 50px;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box {
 
    background-color: white;
}


p {
    font-size: 15rem;
    text-align: center;
}