
body {
	width: 100%;
}

.gameboard {
	background-color: lightblue;
	width: 60%;
	margin: 0 auto;
	font-family: "Comfortaa", cursive;
}

.boxCss {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	vertical-align: middle;
	line-height: 100px;
	font-size: 80px;
	font-family: "Comfortaa", cursive;
}

#toprow {
	width: 300px;
	display: flex;
	margin: 0 auto;
	text-align: center;
	border-bottom: 2px solid black;
}

#midrow {
	width: 300px;
	display: flex;
	margin: 0 auto;
	text-align: center;
	border-bottom: 2px solid black;
}

#botrow {
	width: 300px;
	display: flex;
	margin: 0 auto;
	text-align: center;
}

.tophead {
	text-align: center;
	font-family: "Schoolbell", cursive;
	font-size: 40px;
}

#toprow1, #toprow2, #midrow1, #midrow2, #botrow1, #botrow2 {
		border-right: 2px solid black;
}

h1 {
	margin: 40px 0 10px 0;
}

h2 {
	margin: 0 0 80px 0;
}

p, button {
	font-family: "Schoolbell", cursive;
	font-size: 20px;
}

button {
float: right;
margin: 0 auto;
margin-right: 450px;
}

#player1 {
	width: 40%;
	padding: 40px 100px 0 100px;
	margin: 0 auto;
}

#player2 {
	width: 40%;
	padding: 10px 100px 0 100px;
	margin: 0 auto;
}

#p1score, #p2score {
	position: inline;
}
