.starter {
    font-size: 30px;
    padding: 10px;
    display: block;
    margin: 40px;
    border: 3px solid rgb(0, 0, 0);
}

body {
    background-color: rgb(250, 250, 90);
}

#output {
    background-color: rgb(175, 175, 175);
}