*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    width: 1000px;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box {
 
    background-color: white;
}


p {
    font-size: 15rem;
    text-align: center;
}