body{
	font-family: Helvetica, Arial, sans-serif;
}
h1 {
	margin: 0;
}
#wrapper {
	border: 1px solid #333;
	text-align: center;
	max-width: 960px;
	width: 100%;
	padding: 40px 0;
	margin: 40px auto;
}

#board {
	display:block;
	width: 360px;
	height: 360px;
	margin:0 auto;
}
button {
	padding: 4px 20px;
	font-size: 18px;
	margin: 40px 0;
}
.game-row {
	display:flex;
}
.game-square {
	font-size: 72px;
	display:flex;
	width: 120px;
	height: 120px;
	background-color: #eee;
	border: 1px solid #333;
	justify-content: center;
	align-items: center;
}