body {
	background-color: lavender;
	margin: 20px auto;
	text-align: center;
}


[id^="row"] > div{
	width: 100px;
	height: 100px;
	border: 2px solid grey;
	float: left;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	font-size: 40px;

}

[id^="row"] {
clear: both;
}

.container{
	width:312px;
	margin: 0 auto;
	padding: 30px;
}

div[id^="row"] div:first-child{
	border-left: none;
}

div[id^="row"] div:last-child{
	border-right: none;
}

#row-1 > div{
	border-top: none;
}

#row-3 > div {
	border-bottom: none;
}