/* Particle.js background CSS stuff starts here */

#particle {
	background-color: #d46ebc;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#overlay {
	position: relative;
	display: flex;
	flex-direction: column;
}

/* Particle.js CSS Stuff Ends here */

/* My CSS definition starts here */

/* body {
		max-width: 100vw;
} */
/* header {
	max-width : 90vw;
  margin: auto;
} */

h1 {
	text-align: center;
	font-weight: bold;
	color: rgb(240, 230, 239);
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
	margin: 18px;
	font-size: 1.6rem;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.gameBoard {
	background: rgb(228, 204, 125);
	border-width: 5px;
	padding: 10px;
	margin: auto;
	border-radius: 10%;

}

.gameBoard-row {
	display: flex;
}

.gameCell {
	display: flex;
	border: 5px solid rgb(228, 204, 125);
	border-radius: 25%;
	margin: auto;
	width: 4.5rem;
	height: 4.5rem;
	align-items: center;
	font-size: 100px;
	color: white;
	padding: 6px;
	text-align: center;
	text-align: -moz-center;
	text-align: -webkit-center;
}

.gameCell-color {
	background-color: rgb(88, 214, 136);
}

.gameCell-flip-color {
	background-color: rgb(88, 128, 214);
	transform: rotateY(180deg);
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.player1-flip {
	background-color: rgb(21, 185, 250);
	transform: rotateY(180deg);
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.player2-flip {
	background-color: rgb(250, 21, 193);
	transform: rotateY(180deg);
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

#resetButton {
	/* padding: 10px; */
	font-size: .75rem;
	font-weight: 800;
	background-color: rgb(160, 12, 37);
	color: white;
	border-radius: 25%;
	margin: 10px;
	padding: 10px;
	width: 6rem;
	outline: none;
	cursor: pointer;
}

/* #resetButton:hover {
	background-color: rgb(26, 91, 231);
} */


.msg {
	display: flex;
	border-width: 20px;
	/* margin: 30px; */
}

#msgBoard {
	color: red;
	font-weight: 900;
	font-size: 1rem;
}

/* ipad */

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	h1 {
		font-size: 3rem;
	}

	.gameCell {

		width: 5.5rem;
		height: 5.5rem;
		font-size: 8rem;
		padding: 0.5rem;
		border-width: 15px;
	}

	#msgBoard {
		color: red;
		font-weight: 900;
		font-size: 1.5rem;
	}

	#resetButton {
		font-size: 1.1rem;
		width: 7rem;
		margin: 20px;
	}
}


/* iPad Pro */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {

	h1 {
		font-size: 3rem;
	}

	.gameCell {

		width: 6rem;
		height: 6rem;
		font-size: 9rem;
		padding: 1rem;
		border-width: 20px;
	}

	#msgBoard {
		color: red;
		font-weight: 900;
		font-size: 1.5rem;
	}

	#resetButton {
		font-size: 1.1rem;
		width: 7rem;
		margin: 20px;
	}
}
