

body {
}
div.content {
  background-color: tan;
  height: 500px;
	width: 800px;
	border: 15px ridge #2F4F4F;
	border-radius: 40px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

div.displayWrapper {
	width: 300px;
	margin:10px;
	padding: px;
	border-radius: 10px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	flex-grow: 4;
	align-self: stretch;


}

div.buttoncontainer {
	margin: 10px 25px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-content: center;
	flex-grow: 1;
}
.gameBtn {
	-moz-box-shadow:inset 0px 1px 5px 1px #a6827e;
	-webkit-box-shadow:inset 0px 1px 5px 1px #a6827e;
	box-shadow:inset 0px 1px 5px 1px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:20px;
	border:5px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Exo', sans-serif;
	font-size:20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
	flex-grow: 1;
	margin: 5px 20px;
	height: 115px;
	width: 115px;
}
.gameBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
.gameBtn:active {
	position:relative;
	top:1px;
}




div.inputWrapper {
	margin: auto 25px auto 10px;
	height: 200px;
	-webkit-box-shadow: 5px 5px 5px 0px #000000,
	inset 4px 4px 15px 0px #000000, 5px 5px 30px 10px #000000;
	box-shadow: 5px 5px 5px 0px #000000,
	inset 4px 4px 15px 0px #000000, 5px 5px 30px 10px #000000;
	background: #8B4513;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-grow: 1;

}
body#tinymce {
background: #D2B48C
}
.controlBtn {
	-moz-box-shadow:inset 0px 1px 5px 1px #a6827e;
	-webkit-box-shadow:inset 0px 1px 5px 1px #a6827e;
	box-shadow:inset 0px 1px 5px 1px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:5px solid #54381e;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
	align-self: center;
	height:
}
.controlBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
.controlBtn:active {
	position:relative;
	top:1px;
}