body{
  width: 900px;

  text-align: center;
}

#welcome{
  width: 90%;
  height: 200px;
  margin: 0 auto;
  padding: 0;

}
#gameboard{
  width: 700px;
  height: 400px;
  margin: 0 auto;

}
#instructions{
  width: 90%;
  height: 200px;
  margin: 0 auto;

}
#buttonspace{
  height: 100px;
}
#box{
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 0;
  margin: 0;
  display: inline-block;
  border: 1px solid black;
  vertical-align: top;
  box-sizing: border-box;
}
#row{
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
}
