/*reset all size*/
*{
	margin:0;
	padding:0;

}
h1{
color:green;
}
.container{
	min-height:100vh;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	background:black;
}
.playarea{
  display:grid;
  width:600px;
  height: 600px;
  grid-template-columns:auto auto auto;



  /*padding:10px;*/

}

.box{
	display:flex;
	width:200px;
/*	height: 100px;*/
height: 200px;
	align-items: center;
	justify-content: center;
	font-size:3rem;
	font-weight: bold;
/*	border:3px solid black;*/
	background-color: white;
	margin:10px;

}

button{
	width:167px;
	outline:none;
	border:4px solid red;
	padding: 10px 20px;
	font-size:20px;
	font-weight: bold;
	background-color:#E7E7E7;
	margin:0px auto;


}
button:hover{
	cursor: :pointer;
	background-color:#A3A3A3;
	color:#FFFFFF;
}