body {
	background: url("https://i.pinimg.com/564x/f2/be/8c/f2be8ce52363fd1000ef10ea339bc9dc.jpg");
	text-align:center;
}

h1 {
	font-family: "Poppins", sans serif;
	font-size: 60px;
	text-shadow: 2px 2px #ffffff;
}

.container {
	background-color: rgba(255, 255, 255, 0.9);
	margin: 50px auto;
	width: 600px;
	height:600px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.R1.C1 {
	grid-area: 1 / 1 / 2 / 2;
	border-bottom: 2px solid black;
}

.R1.C2 {
	grid-area: 1 / 2 / 2 / 3;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
}

.R1.C3 {
	grid-area: 1 / 3 / 2 / 4;
	border-bottom: 2px solid black;
}

.R2.C1 {
	grid-area: 2 / 1 / 3 / 2;
	border-bottom: 2px solid black;
}

.R2.C2 {
	grid-area: 2 / 2 / 3 / 3;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
}

.R2.C3 {
	grid-area: 2 / 3 / 3 / 4;
	border-bottom: 2px solid black;
}

.R3.C1 {
	grid-area: 3 / 1 / 4 / 2;
}

.R3.C2 {
	grid-area: 3 / 2 / 4 / 3;
	border-right: 2px solid black;
	border-left: 2px solid black;
}

.R3.C3 {
	grid-area: 3 / 3 / 4 / 4;
}

section {
	font-family: "Poppins", sans serif;
	font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 #overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  cursor: pointer;
}

#overlay span {
	font-family: "Poppins", sans serif;
	font-size: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}