* , *::before, *::after{
    box-sizing: border-box;
  }
  

:root {
    --cell-size: 200px;
    --mark-size: calc(var(--cell-size) * .9);
}

body {
    margin: 0;
    font-family: 'Shadows Into Light', cursive, sans-serif;
  }

span {
  color:  rgb(6, 138, 127);
}

#input, #input::placeholder, #restart, #start  {
  font-family: 'Shadows Into Light', cursive, sans-serif;
  border-radius: 25px;
}

.scoreboard {
  display: none;
  margin-top: 25px;
  justify-content: space-around;
  height: 30px;
}

.score {
  text-align: center;
  font-family: 'Shadows Into Light', cursive, sans-serif;
  font-size: 4rem;
  color: rgba(93, 163, 163, 1);
}

.grid {
    display: none;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
  }

.grid.show {
  display: grid;
}

  .cell {
    background: #f5faf9;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: var(--cell-size);
    width: var(--cell-size);
    position: relative;
  }

  .cell:hover{
      background:  rgba(93, 163, 163, 0.7);
  }

  /* show cursor as not allowed if cell already has symbol in it */
  .cell.x,
  .cell.o {
      cursor: not-allowed;
  }

  /* remove all external borders from grid */
  .cell:first-child,
  .cell:nth-child(2),
  .cell:nth-child(3) {
      border-top: none;
  }

  .cell:nth-child(3n + 1) {
    border-left: none;
  }   

  .cell:nth-child(3n + 3) {
    border-right: none;
  }   

  .cell:last-child,
  .cell:nth-child(7),
  .cell:nth-child(8) {
      border-bottom: none;
  }

  /* will draw an x for when x class is added on click */
  .cell.x::before,
  .cell.x::after {
      content: '';
      width: calc(var(--mark-size) * .15);
      height: var(--mark-size);
      background-color:  rgb(6, 138, 127);
      position: absolute;
  }

  .cell.x::before {
      transform: rotate(45deg);
  }
  .cell.x::after{
    transform: rotate(-45deg);
}

/* will draw an o for when o class is added on click */
  .cell.o::before,
  .cell.o::after {
      content: '';
      border-radius: 50%;
      position: absolute;
  }

  .cell.o::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: rgb(6, 138, 127);
  }

  .cell.o::after {
    width: calc(var(--mark-size) * .8);
    height: calc(var(--mark-size) * .8);
    background-color: #f5faf9;;
  }

  /* styling for win state & start state messages */
  .win-state, .start-state {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(93, 163, 163, 0.7);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
  }

  .win-state button , .start-state button, input{
      font-size: 3rem;
      background-color: white;
      border: 1px solid black;
      padding: .25em .5em;
      margin: 35px;
  }

  .win-state button , .start-state button {
    cursor: pointer;
  }

  .win-state button:hover, .start-state button:hover {
      background-color: rgb(6, 138, 127);
      color: white;
      border-color: white;
  }
  
  /* will show win state or start state when show class is applied */
  .win-state.show , .start-state.show, .scoreboard.show{
      display: flex;
  }