body{
	text-align: center;
	background-color: white;
}

.button{
	width: 200px;
	margin: 0px 0px;
	display: inline-block;
	height: 200px;
	background-color: white;
	font-size: 150px;
	border: none;
}

.startbutton{
	width: 200px;
	margin: 0px 0px;
	display: block;
	height: 50px;
	background-color: black;
	font-size: 100px;
	border: none;
	color: white;
}

.board{
	align-items: stretch;
	background-color: grey;
	margin: 0px auto;
	max-width: 655px;
	padding: 0px;
	height: 500px;
	clear: both;

}


.row1{
	display: flex;
	justify-content: space-between;
	margin: 25px 0px;
	background-color: grey;
}

.row2{
	display: flex;
	justify-content: space-between;
	margin: 25px 0px;
	background-color: grey;
}

.row3{
	display: flex;
	justify-content: space-between;
	margin: 25px 0px;
	background-color: grey;
}